.fullscreen {
	position: absolute;
	z-index: 100000000;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 60px;
	display: none;
}
.misc-window {
	display: inline-block;
	max-height: none;
	width: auto;
	max-width: 800px;
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 1px 1px 10px #000;
	border: 1px solid #888;
	margin: 0 auto;
}
table.data_tables {
	border: 1px solid #888;
	margin-top: 10px;
}
tr.header_row td {
	background-color: #666;
	background: linear-gradient(#888, #666);
	color: #FFF;
	padding: 8px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
tr.header_row td {
	background-color: #FFF;
	background: linear-gradient(#888, #666);
	color: #FFF;
	padding: 8px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
tr.data_row td {
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
	border-bottom: 1px solid #666;
	color: #666;
	border-top: 1px solid #CCC;
	text-shadow: 1px 1px 2px #FFF;
	background-color: #FFF;
	background: linear-gradient(#EBEBEB, #CCC);
}
tr.data_row:hover td {
	background: linear-gradient(#EBEBEB, #EBEBEB);
	color: #000;
}

.close-button {
	font-size: 18px;
	line-height: 20px;
	padding: 4px 8px;
	border: 1px solid #888;
	background-color: #666;
	color: #FFF;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}