<?xml version="1.0" encoding="UTF-8"?>
<config>
	<nbr_db_dl>
		<ui>
			<admintools>
				<plugin_bar>
					
				</plugin_bar>
			</admintools>
		</ui>
		<action>
			<name>nbr_db_dl</name>
			<include>~NBR_ROOT_DIR~/core.plugins/plugin.DBDL/process/download.php</include>
		</action>
	</nbr_db_dl>
</config>