/* CSS Document */
.nbr_select select,
.nbr_input input[type=text],
.nbr_input textarea	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 5px solid #C00;
	border-top: none;
	border-bottom: none;
	border-radius: 3px;
}

.nbr_input input[type=text],
.nbr_input textarea	{
	margin: 0;
	padding: 5px;
}
.nbr_select select {
	-webkit-appearance: none;
	appearance: none;
	padding: 10px 15px;
	color: #222;
	background-color: #EBEBEB;
	background: linear-gradient(#EBEBEB, #888);
	text-shadow: 1px 1px 2px #FFF;
	text-align: center;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}
.nbr_login_window input[type='search'], .nbr_login_window input[type='text'], .nbr_login_window input[type='password'] {
	font-size: 18px;
	padding: 5px;
	color: #222;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0px;
	border: 1px solid #888;
	margin: 0 auto;
	display: block;
}
.nbr_head_button {
	border-left: 10px solid red;
	border-right: 10px solid red;
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;
	background-color: #666;
	cursor: pointer;
	color: #FFF;
	font-size: 20px;
	padding: 10px;
	text-shadow: 1px 1px 3px #000;
}
.nbr_head_button:hover, a.nbr_head_button:hover {
	background-color: #888;
}
.nbr_inner_box {
	background-color: #EBEBEB;
	box-shadow: inset 0 0 10px #888;
	display: none;
	max-height: 300px;
	overflow: auto;
	padding: 30px 20px;
}
.nbr_inner_box .nbr_general_form label {
	color: #000;
	text-shadow: none;
}
.nbr_general_form {
	display: table;
	width: 100%;
}
.nbr_general_cont {
	display: table-row;
}
.nbr_tool_panel_wrap input[type='search'], .nbr_tool_panel_wrap input[type='text'], .nbr_tool_panel input[type='text'], .nbr_general_form input[type='text'], .nbr_general_form input[type='password'], .nbr_general_form textarea {
	font-size: 14px;
	padding: 3px;
	color: #222 !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	border-radius: 0px !important;
	border: 1px solid #666 !important;
	border-left: 3px solid #C00 !important;
	border-right: 3px solid #C00 !important;
	margin: 0 auto !important;
	display: block !important;
	float: left !important;
	position: relative !important;
	right: 0 !important;
	width: auto;
}
.nbr_general_form textarea {
	padding: 10px;
	width: 100%;
	min-width: 300px;
	min-height: 100px;
	display: table-cell;
}
.nbr_general_form input[type='search'], .nbr_general_form input[type='text'], .nbr_general_form input[type='password'], .nbr_general_form textarea {
	font-size: 16px;
	line-height: 22px;
}
.nbr_general_form textarea {
	width: 92%;
}
.nbr_tool_panel_wrap label, .nbr_tool_panel label, .variableType, .nbr_general_form label {
	font-size: 12px;
	float: left;
	width: 100%;
	margin-top: 5px;
	color: #FFF;
	text-shadow: 1px 1px 2px #000;
}
.nbr_tool_panel_wrap select, .nbr_tool_panel select, .nbr_general_form select {
	-webkit-appearance: none;
	appearance: none;
	font-size: 14px;
	font-family: inherit;
	border: 3px solid #C00;
	border-top: none;
	border-bottom: none;
	border-radius: 3px;
	padding: 6px 10px;
	color: #222;
	background-color: #EBEBEB;
	background: linear-gradient(#EBEBEB, #888);
	text-shadow: 1px 1px 2px #FFF;
	text-align: center;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}
.nbr_select select {
	-webkit-appearance: none;
	appearance: none;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border: 5px solid #C00;
	border-top: none;
	border-bottom: none;
	border-radius: 3px;
	padding: 10px 15px;
	color: #222;
	background-color: #EBEBEB;
	background: linear-gradient(#EBEBEB, #888);
	text-shadow: 1px 1px 2px #FFF;
	text-align: center;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}
.nbr_button, .nbr_div_button {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}
.nbr_button input, .nbr_div_button, a.nbr_button:link, a.nbr_button:visited {
	text-transform: uppercase;
	font-size: 18px;
	padding: 15px 20px;
	color: #FFF;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 3px;
	background-color: #C00;
	text-shadow: 1px 1px 3px #000;
	border: 1px solid #CCC;
	cursor: pointer;
	margin: 10px 0px;
}
a.nbr_button:link, a.nbr_button:visited {
	text-decoration: none;
}
.nbr_button_mod input {
	font-size: 14px;
	padding: 5px 10px;
	min-width: 80px;
}
.nbr_button:hover input, .nbr_div_button:hover, a.nbr_button:hover {
	background-color: #803D53;
}
.nbr_button:active input, .nbr_div_button:active {
	background-color: #444;
}
.nbr_button input:disabled {
	background-color: #444;
	opacity: 0.5;
}
.nbr_button.small input {
	padding: 5px;
	font-size: 16px;
	margin: 0;
}
div.nbr_hidewrap {
	display: none;
	text-align: center;
	padding-bottom: 30px;
}
div.nbr_standard.block.large input {
	padding: 10px;
	font-size: 22px;
}
div.nbr_sep {
	width: 10px;
	height: 10px;
	display: inline-block;
	float: left;
}
/*
**	@description	Modal page wrapper
*/
div.nbr_mini_checkout_wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
}
/*
**	@description	Modal
*/
div.nbr_mini_checkout_container {
	margin: 30px auto;
	background-color: #EBEBEB;
	min-height: 300px;
	border: 5px solid #FFF;
	max-width: 375px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.nbr_mini_checkout_container h2 {
	font-size: 30px;
	color: #C03;
	font-family: inherit;
}
div.nbr_mini_checkout_container input {
	padding: 10px;
	font-size: 18px;
}
div.nbr_mini_checkout_container label {
	margin-top: 10px;
}
ul.nbr_cart_opts,
ul.nbr_cart_opts li {
	list-style: none;
}
ul.nbr_cart_opts li {
	display: table-cell;
	vertical-align: bottom;
	padding: 0 5px;
}
ul.nbr_cart_opts li div.nbr_button.small input {
	min-width: 25px;
}
tr.nbr_next_line td {
	display: inline-block;
}
a.nbr_cart_standard:link,
a.nbr_cart_standard:visited {
	display: block;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #B5B5B5;
	color: #222;
	text-shadow: 1px 1px 3px #FFF;
	border: 1px solid #333;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
a.nbr_cart_standard:hover {
	cursor: pointer;
	background-color: #666;
	color: #FFF !important;
	text-shadow: none;
	box-shadow: none;
}