/** SOME GENERAL INTERFACE DEFAULTS **/
*	{
	cursor: default;
}
.nbr_ux_element div,
.nbr_ux_element h1,
.nbr_ux_element h2,
.nbr_ux_element h3,
.nbr_ux_element h4,
.nbr_ux_element h5,
.nbr_ux_element ul,
.nbr_ux_element li,
.nbr_ux_element p,
.nbr_ux_element a,
.nbr_ux_element span,
.nbr_ux_element,
.nbr_ux_element label,
.nbr_ux_element input,
.nbr_ux_element select {
	font-family: Arial, Helvetica, sans-serif;
}
body.nbr {
	text-align: center;
	padding: 0;
	margin: 0;
}
.allblocks {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20;
	text-align: left;
}
img,p,a,h1,h2,h3,h4 {
	cursor: inherit;
}
#loadspot_modal	{
	z-index: 1000000000000000;
	position: relative;
	overflow: visible;
}
.nbr_loader {
	display: inline-block;
	margin: 20px auto;
	background-image: url('/media/images/ui/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	height: 40px;
	width: 40px;
}

/** Accessibility **/
.accessibility {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	height: 0px !important;
	width: 0px !important;
	display: inline-block !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
}

/** SOME GENERAL INTERFACE DEFAULTS **/

.nFont {
	font-family: 'Abel', sans-serif !important;
}
.nSize24 {
	font-size: 24px !important;
	line-height: 32px;
}
.nSize18 {
	font-size: 18px !important;
	line-height: 26px;
}
.nSize16 {
	font-size: 16px !important;
	line-height: 24px;
}
.nSize14 {
	font-size: 14px !important;
	line-height: 22px;
}
.nSize12 {
	font-size: 12px !important;
	line-height: 18px;
}
.nLine14 {
	line-height: 14px !important;
}
.nLine16 {
	line-height: 16px !important;
}
.nLine18 {
	line-height: 18px !important;
}

/** GLOBAL **/
.displayNone,
.hidethis {
	display: none !important;
}
.displayBlock {
	display: block !important;
}
#ajax_admindrop {
	background-color: #444;
}
.no-scroll {
	overflow: hidden;
}
/*------------------------------------------------------*/
/*----------------------- SCROLL-TO-TOP ----------------*/
/*------------------------------------------------------*/

div.scroll-top img {
	max-width: 50px;
}
div.scroll-top {
	display: none;
}
div.add-scroll {
	border-radius: 4px;
	background-color: rgba(255,255,255,0.8);
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 60px;
	right: 0;
	margin: 20px 20px 0 20px;
	font-size: 40px;
	z-index: 1000000;
	cursor: pointer;
}
div.add-scroll:hover {
	opacity: 0.6;
}
.needJS {
	display: none;
}
.is_incidental {
	background-color: #B48425;
	border: 2px solid #FFF;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.is_error {
	background-color: #C00;
}
.nbr_sm {
	max-width: 1000px;
	width: 100%;
	text-align: right;
	margin: 10px auto;
}
.nbr_sm img {
	max-width: 50px;
	margin: 0 10px;
	border: none;
}
.nbr_expire_bar {
	padding: 10px;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	background-color: #F60;
}
.nbr_debug_backtracer {
	padding: 15px;
	background-color: #CCC;
	color: #222;
	text-shadow: 1px 1px 2px #FFF;
	min-height: 40px;
	margin-bottom: 20px;
}
.nbr_debub_clicker {
	background-color: #222;
	color: #FFF;
	padding: 6px 12px;
	border-radius: 3px;
	display: inline-block;
	float: right;
	clear: both;
	text-shadow: 1px 1px 2px #000;
	font-size: 12px;
	cursor: pointer;
}
.nbr_debub_clicker:active {
	position: relative !important;
	top: 2px !important;
	background-color: #666 !important;
	box-shadow: -2px -1px 5px #FFF;
}
.nbr_debug_pop {
	display: none;
}
.nbr_tiny_stats {
	font-size: 12px;
	color: #FFF;
	text-shadow: 1px 1px 2px #000;
	border-radius: 2px;
	padding: 3px 6px;
}
.nbr_tiny_stats.red {
	background-color: red;
}
.nbr_tiny_stats.orange {
	background-color: orange;
}
.nbr_tiny_stats.blue {
	background-color: blue;
}
.nbr_tiny_stats.black {
	background-color: #000;
}
div.nbr_standard.block	{
	width: 100%;
	display: inline-block;
}
ul.nbr_standard.table	{
	display: table;
}
ul.nbr_standard.table,
ul.nbr_standard.row > li,
ul.nbr_standard.cell > li {
	margin: 0;
	list-style: none;
}
ul.nbr_standard.cell.bottom li {
	vertical-align: bottom;
}
ul.nbr_standard.cell > li	{
	display: table-cell;
}
ul.nbr_standard.row > li	{
	display: table-row;
}
ul.nbr_standard.row > li > div {
	display: table-cell;
}
img.nbr_thumb.standard {
	max-height: 100px;
	max-width: 100px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.nbr_success,
.nbr_warning,
.nbr_warnings,
.nbr_error,
.nbr_errors {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FC6;
	color: #63402A;
	text-shadow: 1px 1px 3px #FFF;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	margin: 5px auto;
}
.nbr_error,
.nbr_errors,
.nbr_success {
	background-color: red;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
}
.nbr_success {
	background-color: #36CA48;
}
.nbr_warning::before,
.nbr_warnings::before,
.nbr_error::before,
.nbr_errors::before {
	content: url(/media/images/core/icn_alert_sm.png);
	margin-right: 8px;
}
.nbr_component_single_editor h1 {
	font-size: 30px !important;
	text-shadow: none !important;
	color: #333;
	text-align: left;
	margin-left: 10px;
}
.component_header {
	font-size: 14px !important;
}
span.nbr_found {
	background-color: yellow;
}
.blacklabel label	{
	color: #000;
	text-shadow: none;
}
ul.nbr_paginator {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.nbr_paginator > li {
	list-style: none;
	display: table-cell;
	background-color: #000;
	font-size: 18px;
	line-height: 18px;
	color: #FFF;
}
div.nbr_paginator_num, a.nbr_paginator_num:link, a.nbr_paginator_num:visited,
.nbr_paginator_max,a.nbr_paginator_max:link,a.nbr_paginator_max:visited {
	font-size: inherit !important;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
}
.nbr_paginator_max,
a.nbr_paginator_max:link,
a.nbr_paginator_max:visited {
	font-size: inherit;
	background-color: #06C;
}
.nbr_paginator_max:hover,
a.nbr_paginator_max:hover {
	font-size: inherit;
	background-color: #6CF;
	cursor: pointer;
}

a.nbr_paginator_num:link, a.nbr_paginator_num:visited {
	cursor: pointer;
	background-color: #888;
}
a.nbr_paginator_num:hover {
	background-color: red;
}
a.nbr_paginator_num:visited {
	color: #FFF;
}
a.nbr_admintool_plugin_button {
	cursor: pointer;
	position: relative;
}
a.nbr_admintool_plugin_button img {
	cursor: inherit;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px #000;
	max-height: 60px;
	margin: 10px 5px;
	display: inline-block;
	border-radius: 4px;
}
a.nbr_admintool_plugin_button img:hover {
	box-shadow: 0px 0px 10px red;
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
}
/*
**	@description	Makes elements sortable
*/
.blocklist.nolist,
.blocklist.nolist > li,
.sortable,
.sortable > li	{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nbr_pointer,
a.nbr_pointer:link,
a.nbr_pointer:visited	{
	cursor: pointer !important;
}
.center {
	text-align: center;
}
.middle,
td.middle {
	vertical-align: middle !important;
}
a.cancel:link,
a.cancel:visited {
	background-color: #666;
	color: #FFF;
}
a.cancel:hover {
	background-color: #999;
}
img.nbr_big_loader {
	margin: 30px;
}
table.nbr_standard th,
table.nbr_standard td {
	padding: 5px;
}
table.nbr_standard th {
	font-size: 18px;
	background-color: #333;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
}
table.nbr_standard td,
table.nbr_standard th {
	text-align: center;
	vertical-align: text-top;
}

table.left th,
table.left td {
	text-align: left;
}

table.p10 th,
table.p10 td {
	padding: 10px;
}

table.nbr_standard th,
table.nbr_standard td {
	font-family: inherit;
}

.nbr_black_gradient {
	display: inline-block;
	width: 100%;
	min-height: 100px;
	margin: 0 0 30px 0;
}
.nbr_small_notes {
	position: absolute;
	padding: 5px 10px;
	font-size: 14px;
	background-color: #D4C6C1;
	color: #000;
	text-shadow: 1px 1px 3px #FFF;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
table.nbr_base {
	border: 1px solid #666;
	margin: 20px;
}
table.nbr_base th {
	background-color: #95867F;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
}
table.nbr_base tr td {
	font-size: 16px;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 15px;
	border-bottom: 1px solid #CCC;
}
table.nbr_base tr:last-child td {
	border-bottom: none;
}
tr.nbr_base.addressblock > td,
tr.nbr_base.addressblock > th {
	text-align: left;
}
tr.nbr_base.addressblock > td ul,
tr.nbr_base.addressblock > th ul,
tr.nbr_base.addressblock > td ul li,
tr.nbr_base.addressblock > th ul li {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
tr.nbr_base.addressblock > td ul li,
tr.nbr_base.addressblock > th ul li {
	border-bottom: 1px dotted #666;
	padding: 3px 0;
}
tr.nbr_base.addressblock > td ul,
tr.nbr_base.addressblock > th ul {
	margin: 0;
}

tr.nbr_base.addressblock:first-child > td,
tr.nbr_base.addressblock:first-child > th {
	border-left: 1px solid #CCC;
}
td.nbr_base.backdrop {
	background-color: #EBEBEB;
	vertical-align: top;
}
td.nbr_base.backdrop h2 {
	margin-bottom: 10px !important;
}
table.nbr_order_itemlist td:first-child {
	text-align: left;
}
table.nbr_order_itemlist td:last-child {
	text-align: right;
}
table.nbr_order_itemlist td {
	border-top: 1px solid #666;
}
table.nbr_order_itemlist tr.nbr_order_items_total td {
	background-color: #666 !important;
	color: #FFF !important;
	text-align: right !important;
}
table.nbr_order_itemlist tr.nbr_order_items_total td:last-child {
	text-align: right !important;
	background-color: #CCC !important;
	color: #000 !important;
	font-weight: bold !important;
	font-size: 24px;
}
.nbr_closer {
	display: inline-block;
	padding: 20px;
	background-color: #95867F;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.nbr_closer:hover {
	background-color: #756358;
	cursor: pointer;
}
.nbr_closer.right {
	float: right;
}
td.nbr_row.summary {
	text-align: right;
	font-weight: bold;
	border-left: none !important;
	border-right: none !important;
}
td.nbr_row.summary.light_gray {
	background-color: #888;
	color: #FFF;
}
td.nbr_row.summary.dark_gray {
	background-color: #333;
	color: #FFF;
}
span.nbr_highlight.red,
p.nbr_highlight.red,
h1.nbr_highlight.red,
h2.nbr_highlight.red,
h3.nbr_highlight.red {
	font-weight: bold;
	color: red;
}
.nbr_drop.pop {
	display: none;
}
.nbr_drop.wrap:hover .nbr_drop.pop {
	display: block;
}
ul.nbr_no_list.columns,
ul.nbr_no_list.columns li,
ul.nbr_no_list.rows,
ul.nbr_no_list.rows li {
	list-style: none;
}
ul.nbr_no_list.columns li {
	display: table-cell;
}
ul.nbr_no_list.rows,
ul.nbr_no_list.rows li {
	display: inline-block;
	width: 100%;
}
ul.nbr_no_list.rows,
ul.nbr_no_list.rows li,
ul.nbr_no_list.columns,
ul.nbr_no_list.columns li {
	text-align: inherit;
	padding: 0;
	margin: 0;
}
.nbr_popwrap {
	right: 0;
	position: absolute;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	margin-top: 1px;
}
.nbr_popup {
	display: none;
	text-align: left;
}

div.allblocks.mxi_main_body_attr ul > li a.nbr_button:link,
div.allblocks.mxi_main_body_attr ul > li a.nbr_button:visited {
	margin: 10px 20px;
}
#nbr_sizer {
	z-index: 1000000000;
	top: 0;
	position: fixed;
	background-color: #888;
	box-shadow: inset 0 0 5px #000;
	border-radius: 5px;
	margin: 10px 10px 10px 15px;
	padding: 10px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px !important;
	font-weight: bold;
	opacity: 0.4;
}

.nbr_origin_item {
	background-color: red;
	color: #FFF;
	font-size: 15px;
	padding: 3px 6px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
@media all and (max-width: 600px) {
	.hide_mobile,
	.nbr_hide.mobile {
		display: none;
	}
}
@media all and (max-width: 400px) {
	.nbr_hide.smallest {
		display: none;
	}
}