<?xml version="1.0" encoding="UTF-8"?>
<config>
	<rebuild_reg>
		<action>
			<name>rebuild_reg</name>
			<function>
				<name>rebuild_reg</name>
				<foundin>~NBR_ROOT_DIR~/plugins/plugin.RefreshDefines/functions/function.rebuild_reg.php</foundin>
			</function>
		</action>
	</rebuild_reg>
</config>