
table.nbr_general_admin_table tr {
	box-shadow: 0 0 8px #000;
}
table.nbr_general_admin_table tr label, table.nbr_general_admin_table {
	font-size: 12px;
}
table.nbr_general_admin_table {
	box-shadow: 0 0 10px #888;
	border: 2px solid #FFF;
	text-align: left;
	margin: 0 auto;
}
table.nbr_general_admin_table input, table.nbr_general_admin_table textarea {
	font-size: 16px;
	padding: 5px;
}
table.nbr_general_admin_table textarea {
	width: 300px;
	height: 100px;
}
#nbr_table_container > li {
	display: table-cell;
}
#nbr_table_container {
	display: table;
	margin: 0 auto;
}
tr.nbr_general_admin_row.even {
	background-color: #EBEBEB;
	background: linear-gradient(#EBEBEB, #999);
}
tr.nbr_general_admin_row.even label, tr.nbr_general_admin_row.odd label {
	display: none;
}
tr.nbr_general_admin_row th, tr.nbr_general_admin_row td {
	padding: 5px;
}
tr.nbr_general_admin_row td {
	border-top: 1px solid #888;
}
tr.nbr_general_admin_row th {
	background-color: #666;
	color: #FFF;
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid #999;
}
.nbr_button.small input, a.nbr_button.small:link, a.nbr_button.small:visited {
	font-size: 16px;
	padding: 5px;
	margin: 0;
}
div.nbr_table_pagination_num, a.nbr_table_pagination_num:link, a.nbr_table_pagination_num:visited,
.nbr_table_pagination_max,a.nbr_table_pagination_max:link,a.nbr_table_pagination_max:visited {
	font-size: 14px;
	line-height: 14px;
	color: #FFF;
	padding: 2px 5px;
	text-decoration: none;
	display: inline-block;
}
.nbr_table_pagination_max,
a.nbr_table_pagination_max:link,
a.nbr_table_pagination_max:visited {
	background-color: #06C;
}
.nbr_table_pagination_max:hover,
a.nbr_table_pagination_max:hover {
	background-color: #6CF;
	cursor: pointer;
}

a.nbr_table_pagination_num:link, a.nbr_table_pagination_num:visited {
	cursor: pointer;
	background-color: #888;
}
a.nbr_table_pagination_num:hover {
	background-color: red;
}
a.nbr_table_pagination_num:visited {
	color: #FFF;
}
.nbr_table_search_pagination {
	float: right;
}
.nbr_table_search_pagination ul {
	display: table;
	float: right;
}
.nbr_table_search_pagination li {
	display: table-cell;
}
tr.nbr_general_admin_row select, .nbr_admintools_section_block select {
	font-size: 18px !important;
	padding: 5px 10px !important;
	display: inline-block !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none !important;
	border: 1px solid #666;
	background: linear-gradient(#FFF, #999);
	border-radius: 2px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
tr.nbr_general_admin_row:hover td {
	background-color: #D7C6C0;
}
.nbr_admintools_section_block {
	min-width: 350px;
	max-width: 1184px;
	border: 1px solid #888;
	padding: 12px;
	display: none;
	margin: 0 auto;
	overflow: hidden;
}
.nbr_admintools_section_block.fullwidth textarea {
	display: block;
	width: 98%;
	min-height: 100px;
	font-size: 20px;
	background-color: #E6E6DD;
	margin: 0;
	padding: 1%;
}
.nbr_code {
	font-family: "Courier New", Courier, monospace;
}
.nbr_small_close_arrow {
	float: left;
	display: inline;
	padding: 0px 3px;
	background-color: red;
	color: #FFF;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	margin-right: 5px;
}