@charset "UTF-8";
/* CSS Document */
#menu-wrapper {
	display: flex;
	justify-content: center;
	background: linear-gradient(#000,#333);
	color: #EBEBEB;
}
#nbr-frontend-menu {
	display: flex;
	margin: 0 auto;
}
#nbr-frontend-menu div a:link,
#nbr-frontend-menu div a:visited {
	text-align: center;
	min-width: 10em;
	display: inline-block;
	padding: 10px;
	margin: 0;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.4s, background 0.4s ease-in-out;
}
#nbr-frontend-menu div a:hover {
	background-color: #CCC;
	color: #000;
}