/* CSS Document */

.nbr_error_msg_block {
	display: none;
}
.nbr_error_block_child {
	display: table;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.nbr_error_block_child > div {
	display: table-cell;
	max-width: 300px;
	width: 100%;
	margin: 0;
	padding: 0;
}
