<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module type="page" page_live="on">
		<object name="email_receipts">
			<routing>
				<menu_name>Email Receipts</menu_name>
				<full_path>/contact-manager/</full_path>
				<is_admin>true</is_admin>
				<link>contact-manager</link>
				<page_live>on</page_live>
				<session_status>on</session_status>
				<usergroup>NBR_ADMIN</usergroup>
				<template>/client/template/base/</template>
				<include>~NBR_CLIENT_DIR~/plugins/emailer/interface.php</include>
			</routing>
		</object>
	</module>
</config>