/* CSS Document */
#admin-container,
#footer-container {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 3em 0;
}
#admin-login {
	background: linear-gradient(45deg, #C01B1E, #E55D5F);
	color: #FFF;
	max-width: 300px;
	padding: 2em 0;
	width: 100%;
}
#admin-login,
#admin-login .nbr_success {
	border-radius: 5px;
}
#admin-login label {
	color: #FFF;
}
#admin-login input[type="submit"] {
	background-color: #333;
	text-transform: capitalize;
}
#admin-login input[type="submit"]:hover {
	background-color: #888;
}
#footer {
	display: block;
	color: #FFF;
	max-width: 1200px;
	width: 100%;
	text-align: center;
}
#admin-logo {
	cursor: pointer;
	margin-bottom: 1.5em;
}