/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Pavanam');

html.content,
body.edit-mode.login,
body.edit-mode {
	background: linear-gradient(#333, #111, #333) !important;
	position: absolute;
	overflow: auto !important;
	bottom: 0 !important;
}
body.edit-mode.login .content {
	background-color: transparent !important;
}
body.edit-mode #admin-menubar {
	margin-bottom: 2em;
	z-index: 1000;
}
.content * {
	font-family: 'Pavanam', sans-serif;
}
.content code {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: #EBEBEB;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content h7 {
	color: #B0ADA8;
}
.component-editor-toggle {
	border: 1px solid #666;
	height: 180px;
	border-radius: 4px;
	background: linear-gradient(#666, #222);
	box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
.editor-component.type-div > div.component-editor-toggle {
	box-shadow: none;
	padding: 0 0 0.5em 0;
}
.type-div .component-editor-toggle {
	background-color: transparent;
	height: auto;
}
.container-gapped {
	display: grid;
	grid-template-columns: calc(20% - 0.8em) calc(20% - 0.8em) calc(20% - 0.8em) calc(20% - 0.8em) calc(20% - 0.8em);
	grid-column-gap: 1em;
}
.component-editor-toggle > div:nth-child(1):not(.img-empty) {
	height: 100px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.component-editor {
	display: block;
	width: 350px;
	position: absolute;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	z-index: 10;
}
.component-container {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	border: 1px solid #888;
	z-index: 10;
}
.component-shade,
.component-btns {
	font-family: Arial;
}
.component-btns input {
	margin: 0 !important;
	top: 0;
}
.component-shade {
	background: linear-gradient(#666, #333);
	padding: 0.25em;
}
.component-shade:nth-child(1) {
	color: #CCC;
}
.component-shade:nth-child(1) a:link,
.component-shade:nth-child(1) a:visited {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.5s;
	padding: 0.0em 0.25em 0.25em 0.25em;
	margin-bottom: 5px;
	border-radius: 3px;
	width: 26px;
	height: 20px;
	text-align: center;
}
.component-shade:nth-child(1) a:hover {
	background-color: red;
}
.component-wrap {
	max-height: 475px;
	overflow: auto;
	padding: 0.5em;
	background-color: #EBEBEB;
}
.item-container-editor-div {
	grid-column: 1 / span 5;
	background: linear-gradient(#EBEBEB, #888);
	border-radius: 5px;
	padding: 0.75em;
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.5);
}
.item-container-editor-div .type-div .component-editor-toggle {
	background: transparent;
	border: none;
}

.item-container-editor-div .item-container-editor-div {
	margin-top: 1em;
}

.component-btns {
	background-color: #0F99E5;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
}
.component-btns {
	display: flex;
}
.component-btns div {
	padding: 5px;
}
input.mini-btn.green,
input.mini-btn.dark,
a.mini-btn.green:link,
a.mini-btn.green:visited,
a.mini-btn.dark:link,
a.mini-btn.dark:visited {
	text-decoration: none;
	font-size: 0.8em;
	padding: 0.25em 1em;
	border-radius: 10px;
	color: #FFF;
	cursor: pointer;
	border: 1px solid #666;
}

input.medi-btn.green,
input.medi-btn.dark,
a.medi-btn.green:link,
a.medi-btn.green:hover,
a.medi-btn.dark:link,
a.medi-btn.dark:hover {
	text-decoration: none;
	font-size: 1em;
	padding: 0.45em 1em;
	border-radius: 20px;
	color: #FFF;
	cursor: pointer;
	border: 1px solid #666;
}

input.mini-btn.dark,
a.mini-btn.dark:link,
a.mini-btn.dark:visited,
input.medi-btn.dark,
a.medi-btn.dark:link {
	background-color: #222;
}
input.mini-btn.green,
a.mini-btn.green:link,
a.mini-btn.green:visited,
input.medi-btn.green,
a.medi-btn.green:link {
	background-color: #00BD07;
}
input.mini-btn.green,
a.mini-btn.green:link,
a.mini-btn.green:visited,
input.medi-btn.green,
a.medi-btn.green:link,
input.mini-btn.dark,
a.mini-btn.dark:link,
a.mini-btn.dark:visited,
input.medi-btn.dark,
a.medi-btn.dark:link{
	transition: background-color 0.5s !important;
	text-shadow: 1px 1px 3px #000;
}
input.mini-btn.green:hover,
input.mini-btn.dark:hover,
input.medi-btn.green:hover,
input.medi-btn.dark:hover,
a.mini-btn.green:hover,
a.mini-btn.dark:hover,
a.medi-btn.green:hover,
a.medi-btn.dark:hover {
	background-color: #666;
}

body.edit-mode a.mini-btn.green.no-bx-shadow:link,
body.edit-mode a.mini-btn.green.no-bx-shadow:visited {
	position: relative;
	top: 0px !important;
	left: 10px;
}
span.white {
	color: #FFF;
}
.page-settings-editor label {
	color: #FFF !important;
}
.page-settings-editor label input[type="text"] {
	color: #000;
	background-color: #B5B5B5;
	font-size: 1.35em !important;
	padding: 0.35em;
	transition: background-color  0.25s;
}
.page-settings-editor label input[type="text"]:hover,
.page-settings-editor label input[type="text"]:focus {
	background-color: #FFF;
	box-shadow: 0 0 10px aqua;
}
.expand-out {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	width: auto !important;
	height: 100% !important;
	max-height: inherit !important;
}
.component-editor.expand-out {
	z-index: auto !important;
}
.editor-title {
	text-align: center;
	padding: 0.5em 0;
	color: #CCC;
	font-size: 0.85em;
	overflow: hidden;
	height: 20px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.editor-component * {
	font-family: Arial;
}
img.no-stretch,
.editor-component img {
	display: inline-block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: calc(auto - 1em);
	height: auto;
}
.editor-component img.no-stretch {
	max-width: 500px;
}
.mini-btn {
	position: relative;
	top: 0.5em;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	display: inline-block !important;
}
.wrapper-off {
	background-color: #894B4C;
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 0.5em;
}
.wrapper-off div {
	box-shadow: none;
}
img.active-status {
	display: inline-block !important;
	position: absolute !important;
	width: 20px !important;
	height: 20px !important;
	left: 5px;
	
}
.pointer {
	cursor: pointer !important;
}
.opacity-button:active {
	opacity: 0.5;
	-moz-opacity: 0.5;
}
.wrapper-off {
	box-shadow: 0 0 20px red;
}
body.edit-mode .container-on,
body.edit-mode .container-off {
	border-radius: 5px;
}
body.edit-mode .container-on {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.page-edit-title {
	color: #FFF;
	font-size: 1.35em;
	font-weight: 400;
}
.no-bx-shadow {
	box-shadow: none !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-radius {
	border-radius: 0 !important;
}
.page-editor-container {
	padding-top: 0.5em;
}
.page-editor-header h3 {
	padding: 0.5em !important;
	background-color: #222 !important;
	color: #FFF !important;
	border-left: 3px solid red;
	border-radius: 5px;
	transition: background-color 0.5s, box-shadow 0.5s, border-color 0.5s;
}
.page-editor-header h3:hover,
.page-editor-header h3:focus {
	background-color: #555 !important;
	box-shadow: 0 0 10px aqua;
	border-color: aqua;
}
@media all and (max-width: 1038px) {
	.item-container-editor-div {
		grid-column: 1 / span 3;
	}
	.container-gapped {
		grid-template-columns: calc(33.3333% - 0.6666em) calc(33.3333% - 0.6666em) calc(33.3333% - 0.6666em);
	}
}
@media all and (max-width: 655px) {
	.item-container-editor-div {
		grid-column: 1 / span 2;
	}
	.container-gapped {
		grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
	}
}
@media all and (max-width: 375px) {
	.item-container-editor-div {
		grid-column: 1 / span 1;
	}
	.container-gapped {
		grid-template-columns: 100%;
	}
}