html {
	overflow: -moz-scrollbars-horizontal;
	overflow-x: scroll;
	background-color: #000;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}
body {
	background-color: transparent;
	padding: inherit;
	margin: inherit;
	top: inherit;
	bottom: inherit;
	left: inherit;
	right: inherit;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	width: inherit;
}
body.nbr_admintools_loggedin {
	background-color: #FFF;
	overflow: auto;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	vertical-align: top;
	padding-bottom: 100px;
}
#nbr_table_search_bar	{
	display: inline-block;
	float: right;
}
#nbr_table_search_bar input[type=search] {
	border-radius: 0px !important;
}
#nbr_table_search_bar input[type=submit] {
	border-radius: 0px !important;
	appearance:  none !important;
	display: inline-block !important;
}
#nbr_table_search_bar form {
	margin: 5px;
}
#admincontent > ul li {
	display: table-cell;
	list-style: none;
}
a.nbr_button.small.coolset:link,
a.nbr_button.small.coolset:visited {
	border: none;
	background-color: transparent;
	font-size: 14px;
	padding: 10px 15px;
}
a.nbr_button.small.coolset:hover {
	box-shadow: inset 0 0 5px #000;
	background-color: #888;
}
.admin_login_wrapper {
	display: inline-block;
	background: linear-gradient(#F30, #770023);
	margin-bottom: 20px;
	padding: 0 10px;
	border-radius: 5px;
}
.nbr_error_wrapper {
	margin: 0 auto;
	padding: 5px;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}
.nbr_admintools p {
	font-size: 16px;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.login_container {
	color: #FFF;
}
.login_container input[type=text], .login_container input[type=password] {
	font-size: 18px;
	padding: 10px;
}


.footerContainer {
	padding: 0;
}
.allblocks	{
	text-align: center;
}
div.wrapper {
	background-color: transparent;
	display: block;
	postion: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#admin_menu_wrap	{
	background-color: #000;
	background: linear-gradient(360deg, #000,#555);
	display: inline-block;
	border-top: 1px solid #666;
	border-bottom: 1px solid #111;
	width: 100%;
	text-align: center;
}
#primary_nav_wrap	{
	margin: 0 auto;
	margin-bottom: -4px;
	display: inline-block;
	z-index: 1;
	position: relative;
}
#primary_nav_wrap ul {
	list-style:none;
	float:left;
	margin:0;
	padding:0
}
#primary_nav_wrap ul a {
	display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 3px #000;
}
#primary_nav_wrap ul a:hover	{
	color: #333;
	text-shadow: none;
}
#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
#primary_nav_wrap ul li.current-menu-item {
	background:#ddd;
}
#primary_nav_wrap ul li:hover {
	background:#CCC;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top:100%;
	left:0;
	background: #900;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5); 
	padding:0;
}
#primary_nav_wrap ul ul li {
	float:none;
	width:200px;
	border-bottom: 1px solid #000;
}
#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px;
}
#primary_nav_wrap ul ul ul {
	top:0;
	left:100%;
}
#primary_nav_wrap ul li:hover > ul {
	display:block;
}
.head-button {
	min-width: 350px;
	max-width: 1200px;
	background-color: #CCC;
	font-size: 24px;
	cursor: pointer;
	margin: 20px auto 0px auto;
	padding: 5px;
	text-shadow: 1px 1px 3px #FFF;
	text-align: left;
}
.head-button img {
	max-height: 40px;
}
.head-button ul,
.nbr_admintools_section_block ul {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.head-button li,
.nbr_admintools_section_block li {
	display: table-cell;
	list-style: none;
	padding: 0;
	vertical-align: middle;
}
.head-button li:last-child {
	padding-left: 10px;
}