/* CSS Document */
.more-opts-btn {
	font-size: 12px;
	float: right;
	padding: 5px 10px;
	background-color: #333;
	color: #888;
	cursor: pointer;
	border-radius: 3px;
}
.more-opts-btn:hover {
	color: #FFF;
	background-color: #888;
	text-shadow: 1px 1px 3px #000;
}
div.div_button_input input,
div.div_button,
a.div_button:link,
a.div_button:visited {
	color: #666;
	border: 1px solid #888;
	text-decoration: none;
	line-height: 15px;
	padding: 10px 15px;
	background-color: #FFF;
	text-transform:	uppercase;
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
}
div.div_button_input:hover input,
div.div_button:hover,
a.div_button:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #888;
	background-color: #CCC;
}