@charset "UTF-8";
/* CSS Document */

/* MAIN MENU CSS */
nav#menuWrap {
	display: inline-block;
	width: 100%;
	background-color: #333;
	text-align: center;
	padding: 0;
	margin: 0;
}
ul#menuContainer {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	background-color: red;
}
ul#menuContainer li	{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul#menuContainer li a:link,
ul#menuContainer li a:visited	{
	padding: 10px 20px;
	text-decoration: none;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	display: inline-block;
}
ul#menuContainer li a:hover {
	background-color: #222;
	box-shadow: inset 0 0 4px #000;
}
ul.MenuPopup	{
	position: absolute;
	display: none;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#menuContainer li:hover div.nbr_menu_subpop	{
	display: inline-block;
}
div.nbr_menu_subpop	{
	background-color: transparent;
	position: absolute;
	display: none;
	float: left;
	left: 0;
	right: 0;
	max-width: 1200px;
	width: 100%;
	margin: 38px auto 0 auto;
	z-index: 3;
}
.click_stick	{
	min-width: 150px;
}
/*COMPONENT IN MENU CLASS*/
div.compWrapper {
	border: 1px solid #666666;
	width: 100%;
	max-width: 200px;
	height: auto;
	border-radius: 6px;
	margin: 10px 15px 0 0;
	padding: 0;
	float: left;
	-webkit-box-shadow: inset 0px 0px 6px #000000;
	-moz-box-shadow: inset 0px 0px 6px #000000;
	box-shadow: inset 0px 0px 6px #000000;
	background-color: #333333;
	background-image: url(/core.processor/renderlib/admintools/images/comp_back.png);
}
div.compblockmod {
	overflow: hidden;
	color: #333333;
	margin: 0;
	text-shadow: none;
	background-color: transparent;
	padding: 3px;
}