<?xml version="1.0" encoding="UTF-8"?>
<config>
	<rebuild_htaccess>
		<action>
			<name>rebuild_htaccess</name>
			<function>
				<name>rebuild_htaccess</name>
				<foundin>~NBR_ROOT_DIR~/plugins/plugin.SaveHtaccess/functions/function.rebuild_htaccess.php</foundin>
			</function>
		</action>
	</rebuild_htaccess>
</config>