<?xml version="1.0" encoding="UTF-8"?>
<config>
	<stylesheet>
		<include is_local="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/grid.css</path>
		</include>
		<include is_local="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/styles.css</path>
		</include>
		<include is_local="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/form.css</path>
		</include>
		<include is_local="true" is_admin="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/adminbar.css</path>
		</include>
		<include is_local="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/main.css</path>
		</include>
		<include is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/admin-login.css</path>
		</include>
		<include is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/css/admintools.css</path>
		</include>
	</stylesheet>
	<javascript>
		<include is_local="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/js/helpers.js</path>
		</include>
		<include is_local="true" is_admin="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/js/nFunctions.js</path>
		</include>
		<include is_local="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/js/nControl.js</path>
		</include>
		<include is_local="true" is_admin="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/js/nScripts.js</path>
		</include>	
		<include is_local="true" is_admin="true" is_frontend="true" is_backend="true">
			<path>~CONSTANT::NBR_DEFAULT_TEMPLATE~/media/js/nConfirm.js</path>
		</include>	
	</javascript>
</config>